@{
    ViewData["Title"] = "Success";
}
<div class="container">
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success">
                Success! Your files were successfully uploaded.
                Share the link with your friends:
                <a href="@Context.Request.Host@ViewData["Message"]">@Context.Request.Host/@ViewData["Message"]</a>
            </div>
        </div>
    </div>
</div>
